.form-check-label {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-check-input {
    position: absolute;
    opacity: 0;
  }

  .sun {
    position: absolute;
    font-size: 20px;
    transform: scale(0);
    transition: 0.8s ease;
  }

  .form-check-input:checked ~ .sun {
    transition-delay: 0.1s;
    transform: scale(1) rotate(360deg);
  }

  .moon {
    font-size: 20px;
    transition: 0.8s ease;
    transition-delay: 0.1s;
  }

  .form-check-input:checked ~ .moon {
    transition-delay: 0s;
    transform: rotate(360deg) scale(0);
  }

  .toggle {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: -1;
    transition: 0.8s;
  }
}
