.project-card {
  transition: transform 0.3s ease;
  border: 0.1rem solid $primary-color;

  &:hover {
    transform: translateY(-5px);
  }

  .action-icons {
    svg {
      margin: 0 0.2rem;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: $primary-color;
      }
    }
  }
}
