.contain-footer {
  height: 12rem;
  background-color: var(--bg-color-primary);

  .footer_contain {
    height: 4rem;
    width: 4rem;

    .footer_contain-icons {
      color: var(--primary-color);
      transition: all 0.5s;
      font-size: 4rem;
      height: 4rem;
      width: 4rem;
    }

    .footer_contain-icons:hover {
      color: var(--text-color);
      transform: translateY(-0.5rem);
    }
  }

  .footer-copyright {
    color: var(--text-color);
  }
}

.footer-mobile {
  display: none;
}

.footer-desktop {
  display: block;
  width: 5rem;

  position: fixed;
  bottom: 0rem;
  left: 3rem;
}
.footer-desktop::after {
  content: "";
  position: relative;
  top: 0;
  left: 40%;
  width: 0.2rem;
  height: 6rem;
  margin-top: 1rem;
  background-color: var(--primary-color);
}

@media screen and (max-width: 1000px) {
  .footer-mobile {
    display: block;
  }

  .footer-desktop {
    display: none;
  }
}
