.home {
  height: 100vh;

  .home_contain {
    height: 90%;
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    .home_contain-text {
      font-size: 1.6rem;
      line-height: 1.8rem;
      font-weight: 400;
      color: transparent;
    }

    .home_contain-title {
      font-size: 4rem;
      line-height: 4.4rem;
      font-weight: 600;
      margin: 0.5rem 0;
    }

    .home_contain-subtitle {
      font-size: 4rem;
      line-height: 3.6rem;
      font-weight: 600;
      margin: 2rem 0;
    }

    .home_contain-paragraph {
      font-size: 1.8rem;
      line-height: 2.3rem;
      font-weight: 400;
    }
  }
}
