.header {
  width: 95%;
  height: 4rem;
  z-index: 1050;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  

  .header-logo {
    height: 4rem;
    width: 4rem;
  }
}