.skills {
  min-height: 100vh;

  .skills_contain {
    margin: 0;
    padding: 0;

    .skills_card {
      height: 17rem;
      width: 140px;
      padding: 1.5rem;
      text-align: center;
      margin: 1.5rem;
  
      .skills_card-img {
        height: 100px;
      }
  
      .skills_card-divider {
        margin: 1rem 0;
      }
    }
  }
}