.skills-contain {
  height: 100vh;

  .skills-card {
    height: 150px;
    width: 120px;


    .skills-card-title {
      text-align: center;
    }

    .skills-card-img {
      height: 100px;
    }
  }
}